{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}



{% for park in pagination %}

<div class="card mb-4">
  <div class="card-header">
    {{park.fullName}} - {{park.states}}
  </div>
  <div class="card-body">
    <p class="card-text">{{park.description}}</p>
    <a href="{{park.url}}" class="btn btn-primary" target="_blank">Visiter</a>
  </div>
</div>
    
{% endfor %}

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination, 'paginator/_page_searchbar.html.twig') }}
</div>


{% endblock %}
